<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">회원가입</h1>
<form th:action="@{/regist}" method="post" modelAttribute="userDTO">
    <div align="center">
        <label>아이디</label><br>
        <input type="text" , name="id" placeholder="ID">
        <p th:text="${ errormesg }"></p>
        <span th:text = "${ valid_id }"></span>
    </div>
    <div align="center">
        <label>비밀번호</label><br>
        <input type="password" , name="pwd" placeholder="Password"><br>
        <span th:text = "${ valid_pwd }"></span>
    </div>
    <div align="center">
        <label>비밀번호 재확인</label><br>
        <input th:text type="password" , name="pwd2"><br>
        <span th:text="${ message }"></span>

    <div align="center">
        <label>닉네임</label><br>
        <input type="text" , name="nickName" placeholder="nickName"><br>
        <span th:text="${ valid_nickName }"></span>
    </div><br>
    <div align="center">
        <button type="submit">가입하기</button>
    </div>
</form>
</body>
</html>